body {
  font-family: arial, sans-serif;
}

button {
  margin-left: 10px;
}

h1 {
  color: rgb(135, 135, 135);
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  line-height: 29px;
}

h2 {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
}

h2 small {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-transform: capitalize;
}

img {
  display: block;
  margin: 15px 0;
}

.weather {
  border: 1px solid #dadce1;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
}
