body {
  font-family: arial, sans-serif;
}

h1 {
  color: rgb(135, 135, 135);
  font-size: 24px;
  font-weight: 100;
  line-height: 28.8px;
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19.2px;
  text-transform: capitalize;
}

img {
  position: relative;
  top: -20px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-family: arial, helvetica, sans-serif;
  font-size: 64px;
  font-stretch: 100%;
  font-weight: 400;
  line-height: 1;
  left: -10px;
  position: relative;
  letter-spacing: -3px;
}

.temperature small {
  letter-spacing: 0;
  position: relative;
  font-size: 16px;
  left: 5px;
  top: -32px;
}

.loader {
  padding: 60px 0;
}

.loader svg {
  margin: 0 auto;
  display: block;
  opacity: 0.8;
}
